syntax: glob

.idea/*

*.pyc
*.html
*.log
*.aux
*.bbl
*.blg
*.out
*.gz
*.bak
*.backup
*.dvi
*.nav
*.snm
*.toc
*.db
*.vrb
*.lof
*.lot
*.spl
*.lol
*.parm
*.tlog
*.raw
*.sta

.idea
.gradle
app/build
local.properties
